.dpus__grief-tracker {
    position: absolute;
    pointer-events: none;
    user-select: none;
    inset: 0;
    z-index: 4;

    image-rendering: pixelated;
    @supports (image-rendering: crisp-edges) {
        image-rendering: crisp-edges;
    }
}

.dpus__grief-tracker--under-template {
    z-index: 2;
}

.dpus__grief-tracker--hidden {
    display: none;
}
