.dpus__grief-tracker {
    position: absolute;
    pointer-events: none;
    user-select: none;
    inset: 0;
    z-index: 4;
}

.dpus__grief-tracker--hidden {
    display: none;
}

.dpus__grief-tracker-grief {
    position: absolute;
    left: calc(var(--dpus--grief-coord-x) * 1px);
    top: calc(var(--dpus--grief-coord-y) * 1px);
    width: 1px;
    height: 1px;
    pointer-events: none;
    user-select: none;

    animation-iteration-count: infinite;
}

.dpus__grief-tracker--speed-fast .dpus__grief-tracker-grief {
    animation-duration: 0.5s;
}

.dpus__grief-tracker--speed-slow .dpus__grief-tracker-grief {
    animation-duration: 1s;
}

.dpus__grief-tracker--speed-very-slow .dpus__grief-tracker-grief {
    animation-duration: 2s;
}

.dpus__grief-tracker--style-rgbw-flash-thick .dpus__grief-tracker-grief {
    animation-name: dpus__grief-tracker-grief__rgbw-flash;
    animation-timing-function: steps(1);

    border: 1px solid;

    --dpus--grief--rgbw-flash-thickness: 0.55px;

    clip-path: inset(calc(1px - var(--dpus--grief--rgbw-flash-thickness)));
}

.dpus__grief-tracker--style-rgbw-flash-thin .dpus__grief-tracker-grief {
    animation-name: dpus__grief-tracker-grief__rgbw-flash;
    animation-timing-function: steps(1);

    border: 1px solid;

    --dpus--grief--rgbw-flash-thickness: 0.25px;

    clip-path: inset(calc(1px - var(--dpus--grief--rgbw-flash-thickness)));
}

@keyframes dpus__grief-tracker-grief__rgbw-flash {
    0% {
        border-color: #ff0000;
        /*box-shadow: #ff0000 0 0 0 var(--dpus--grief--rgbw-flash-thickness);*/
    }
    25% {
        border-color: #00ff00;
        /*box-shadow: #00ff00 0 0 0 var(--dpus--grief--rgbw-flash-thickness);*/
    }
    50% {
        border-color: #0080ff;
        /*box-shadow: #0080ff 0 0 0 var(--dpus--grief--rgbw-flash-thickness);*/
    }
    75% {
        border-color: white;
        /*box-shadow: white 0 0 0 var(--dpus--grief--rgbw-flash-thickness);*/
    }
}
